h1 {
  font-weight: 700;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 10px;
}

button {
  align-items: center;
  width: 60px;
  height: 35px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  min-width: 360px;
}

.btns {
  display: flex;
  justify-content: right;
}

.edit {
  margin-top: 10px;
  margin-right: 5px;
  background-color: rgb(14, 207, 233);
}

.delete {
  margin-top: 10px;
  margin-left: 5px;
  background-color: rgb(240, 97, 126);
}
